.delete-btn {
    color: white;
    background-color: red;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
}

.item-row:hover {
    background-color: #edfaff;;
} 

.delete-btn:hover {
    background-color: #c50000;
}